<!-- include header -->
<%- include('include/_header_admin') %>
<center>
    <form action="/add-user" method="post">

        <input type="submit" value="ADD IMAGE" >
        
    </form>
</center>

    <div class="container">
        <div class="row"  >

            
            
                <%- include('include/_show_admin') %>
           
        </div>
    </div>


    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer -->