<% for(var i=0; i < users.length; i++) { %>
    <div class="untitled__slide">
        <div class="untitled__slideBg"></div>
        <div class="untitled__slideContent">

        </div>
    </div>
    <% } %>