 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="imagePC" class="text-light">Link for PC</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="imagePC" value="" placeholder="7680 x 4320" required>
        </div>
        <div class="form-group">
            <label for="imagePN" class="text-light">Link for Phone</label>
            <input type="text" name="imagePN" value="" placeholder="1242 x 2208" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>